<div class="jumbotron">
    <h1 class="display-3">Hello!</h1>
    <p class="lead">MyBlog is a simple website for sharing your images or write your own blogs.</p>
    <hr class="my-4">
    <h5>We have a large number of amzing images</h5>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="/albums" role="button">Get more</a>
    <hr class="my-4">
    <h5>And blogs</h5>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="/blogs" role="button">Get more</a>
    </p>
</div>


